<footer>
    <div class="container">
        <div class="column-sm">
            <a href="#" class="footer-logo">
                <img src="./assets/img/logo.svg" alt="logo">
            </a>
            <nav>
                <a href="#">i</a>
                <a href="#">y</a>
                <a href="#">t</a>
            </nav>
        </div>
        <div class="columg-lg">
            <nav class="footer-nav">
                <h6>послуги</h6>
                <a href="#">перекази по Україні</a>
                <a href="#">міжнародні перекази</a>
                <a href="#">swift перекази</a>
                <a href="#">криптоперекази</a>
                <a href="#">перекази юаня у Китай</a>
            </nav>
            <nav class="footer-nav">
                <h6>клиентам</h6>
                <a href="#">як це працює</a>
                <a href="#">крипто-фіатні пари</a>
                <a href="#">де нас знайти</a>
                <a href="#">відгуки</a>
                <a href="#">часті питання</a>
                <a href="#">блог</a>
            </nav>
            <nav class="footer-nav d-lg-none">
                <h6>правова інформація</h6>
                <a href="#">політика конфіденційності</a>
                <a href="#">умови та положення</a>
            </nav>
            <address class="footer-nav">
                <h6>контакти</h6>
                <a href="#">info@crypto-money24.com</a>
                <a href="#">+38 (098) 358-00-01</a>
                <a href="#">+38 (050) 974-00-01</a>
            </address>
        </div>
    </div>
    <div class="container copyright">
        <span>ⓒ 2022. Всі права захищені</span>
        <nav class="copyright-nav">
            <a href="#">політика конфіденційності</a>
            <a href="#">умови та положення</a>
        </nav>
    </div>
</footer>






























<svg class="d-none">
    <symbol id="arrow-back" viewBox="0 0 18 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.89098 15.3022L0.270597 7.68182L7.89098 0.0614339L9.36115 1.51527L4.25639 6.62003H17.0795V8.74361H4.25639L9.36115 13.8402L7.89098 15.3022Z"/>
    </symbol>
</svg>
<a href="markap.html" 
style="background-color: #B1FF5C; 
border-radius: 50%; 
color: #10100E; 
font-weight: 600; 
text-decoration: none; 
padding: 12px;
position: fixed;
left: 12px;
bottom: 12px;">UI-Kit</a>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/jquery.mask.min.js"></script>
<script src="assets/js/hideShowPassword.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>