<section class="steps">
    <div class="container">
        <div class="template-title">
            <h2>3 простих кроки почати</h2>
            <h5>Не знаеш з чого почати? Слідкуй цим простим крокам для швидкого старту</h5>
        </div>
        <div class="steps-list">
            <div class="steps-item">
                <div class="steps-number"></div>
                <h3 class="steps-title">реєстрація</h3>
                <h6 class="steps-description">зареєструйся, щоб отримати можливість приєднатися до бонусної системи та отримати додаткові можливості</h6>
            </div>
            <div class="steps-item">
                <div class="steps-number"></div>
                <h3 class="steps-title">верифікація</h3>
                <h6 class="steps-description">пройдіть верифікацію особи
                    та отримайте можливість здійснювати обмін фіатних валют</h6>
            </div>
            <div class="steps-item">
                <div class="steps-number"></div>
                <h3 class="steps-title">торгівля</h3>
                <h6 class="steps-description">користуйтеся найвигіднішим курсом для обміну валют</h6>
            </div>
        </div>
    </div>
</section>